<div class="page-not-found-container">
  <mat-card class="mat-card-page-not-found">
    <mat-card-title>404 - Página não encontrada</mat-card-title>
    <mat-card-content>
      <p>Desculpe, a página que você está procurando não foi encontrada.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/" class="button-icon">
        <span class="button-icon-label">INÍCIO</span>
        <mat-icon>home</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>