<div class="login-page">
  <mat-card class="login-card">
    <mat-toolbar color="primary">Alterar Senha</mat-toolbar>

    <mat-card-content>
      <mat-icon color="primary" class="mat-icon-size">account_circle</mat-icon>
      <form [formGroup]="form" class="min-width">
        <mat-form-field class="full-width">
          <mat-label>Senha Atual</mat-label>
          <input matInput formControlName="currentPassword" type="password">
          <mat-error *ngIf="form.get('currentPassword')?.invalid">
            {{ getErrorMessage('currentPassword') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Nova Senha</mat-label>
          <input matInput formControlName="newPassword" type="password">
          <mat-error *ngIf="form.get('newPassword')?.invalid">
            {{ getErrorMessage('newPassword') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Confirmar Nova Senha</mat-label>
          <input matInput formControlName="confirmPassword" type="password">
          <mat-error *ngIf="form.get('confirmPassword')?.invalid">
            {{ getErrorMessage('confirmPassword') }}
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions class="actions-center">
      <button mat-raised-button color="primary" (click)="onSubmit()" type="submit">
        <span>Alterar Senha</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>